<%# locals: (prescription:) -%>

<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <%= prescription.patient_name %>
  </th>
  <td class="px-6 py-4">
    <%= prescription.patient_phone %>
  </td>
  <td class="px-6 py-4">
    <%= prescription.detail.truncate(50) %>
  </td>
  <td class="px-6 py-4">
    <%= prescription.date.strftime("%d/%m/%Y") %>
  </td>
  <td class="px-6 py-4">
    <%= prescription.remark.truncate(50) %>
  </td>
  <td class="px-6 py-4 text-right space-x-6">
    <%= link_to "Show", prescription_path(prescription), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline", data: { turbo_action: :advance } %>
    <%= link_to "Edit", edit_prescription_path(prescription), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
  </td>
</tr>
