<%= turbo_frame_tag :content, class: "w-full flex-col space-y-12" do %>
  <%= form_for @prescription, url: @prescription, method: :put, html: { class: "form" } do |form| %>
    <div class="max-w-5xl mx-auto mb-32">
      <%= render "shared/inline_field", form:, attribute: :detail, resource: @prescription, container_class: "flex flex-row items-end gap-x-2", actions_class: "flex flex-row gap-x-2 w-32" do %>
        <div class="w-full max-w-3xl flex flex-col space-y-2 relative">
          <%= form.label :detail, "Detail", class: "font-bold mb-2" %>
          <%= form.text_area :detail, class: "rounded-md border w-full", rows: 5, required: true %>
        </div>
      <% end %>

      <%= render "shared/inline_field", form:, attribute: :date, resource: @prescription, container_class: "flex flex-row items-end gap-x-2", actions_class: "flex flex-row gap-x-2 w-32" do %>
        <div class="w-full max-w-3xl flex flex-col space-y-2 relative">
          <%= form.label :date, "Date", class: "font-bold mb-2" %>
          <%= form.date_field :date, class: "rounded-md border w-full" %>
        </div>
      <% end %>

      <%= render "shared/inline_field", form:, attribute: :remark, resource: @prescription, container_class: "flex flex-row items-end gap-x-2", actions_class: "flex flex-row gap-x-2 w-32" do %>
        <div class="w-full max-w-3xl flex flex-col space-y-2 relative">
          <%= form.label :remark, "Remark", class: "font-bold mb-2" %>
          <%= form.text_area :remark, class: "rounded-md border w-full", rows: 5 %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
