<%= turbo_frame_tag :prescriptions, class: "w-full flex-col space-y-12" do %>
  <h1 class="text-3xl">Prescription Detail</h1>

  <div class="flex-col space-y-6">
    <p><strong>Patient Name:</strong> <%= @prescription.patient_name %> </p>
    <p><strong>Patient Phone:</strong> <%= @prescription.patient_phone %> </p>

    <%= form_with model: @prescription, local: true do |form| %>
      <% if @prescription.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@prescription.errors.count, "error") %> prohibited this prescription from being saved:</h2>
          <ul>
            <% @prescription.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :detail %>
        <%= form.text_area :detail %>
      </div>

      <div class="field">
        <%= form.label :date %>
        <%= form.date_field :date %>
      </div>

      <div class="field">
        <%= form.label :remark %>
        <%= form.text_area :remark %>
      </div>

      <div class="actions">
        <%= form.submit "Update Prescription" %>
      </div>
    <% end %>
  </div>
<% end %>
