<%= turbo_frame_tag :content, class: "w-full flex-col gap-12" do %>
  <h1 class="text-3xl">New Prescription</h1>

  <div class="flex space-x-12 items-center">
    <div class="flex flex-col space-y-4">
      <p class="font-semibold">Choose existed Patient</p>
      <%= turbo_frame_tag :patients, src: patients_path do %>
        <p>Please wait...</p>
      <% end %>
    </div>

    <span class="font-bold">OR</span>

    <div class="flex flex-col space-y-4">
      <p class="font-semibold">Create New Patient</p>
      <%= turbo_frame_tag :new_patient, src: new_patient_path do %>
        <p>Please wait...</p>
      <% end %>
    </div>
  </div>

  <%= form_with model: @prescription, class: "max-w-3xl flex flex-col space-y-4 items-start", data: { controller: "prescription-form" } do |form| %>
    <%= turbo_frame_tag :patient, class: "flex flex-col space-y-2", data: { action: "turbo:frame-load->prescription-form#handleFrameLoad" } do %>
      <p class="text-red-500 font-semibold">Please select or create a Patient before create Prescription</p>
      <%= form.hidden_field :patient_id, data: { "prescription-form-target": "patientId" } %>
    <% end %>

    <div class="w-full flex flex-col space-y-2">
      <%= form.label :detail, "Detail", class: "font-bold" %>
      <%= form.text_area :detail, placeholder: "Detail", class: "border rounded-md", required: true, rows: 5 %>
    </div>

    <div class="w-full flex flex-col space-y-2">
      <%= form.label :detail, "Detail", class: "font-bold" %>
      <%= form.date_field :date, placeholder: "Date", class: "w-full border rounded-md", required: true %>
    </div>

    <div class="w-full flex flex-col space-y-2">
      <%= form.label :detail, "Detail", class: "font-bold" %>
      <%= form.text_area :remark, placeholder: "Remark", class: "w-full border rounded-md", required: true, rows: 5 %>
    </div>

    <div class="flex space-x-6">
      <%= link_to "Back To List", prescriptions_path, class: "max-w-fit text-center text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5", data: { turbo_action: :advance } %>

      <%= form.submit "Submit", class: "max-w-fit text-white cursor-pointer bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 disabled:cursor-not-allowed disabled:bg-gray-500", data: { prescription_form_target: "submitButton" }, disabled: true %>
    </div>
  <% end %>
<% end %>
