<%= turbo_frame_tag :patient, class: "flex flex-col space-y-6" do %>
  <p><strong>Patient Name:</strong> <%= @patient.name %></p>
  <p><strong>Patient Phone:</strong> <%= @patient.phone %></p>
  <p><strong>Patient Birthday:</strong> <%= @patient.dob.to_date %></p>

  <input type="hidden" name="prescription[patient_id]" id="prescription_patient_id" value="<%= @patient.id %>" data-prescription-form-target="patientId">
<% end %>
